@charset "utf-8";

*
{
    margin: 0;
    font-family: sans-serif;
}

h1
{
    font-size: 10em;
    color: #DDF;
}

p 
{
    position: absolute;
    top: 2.5em;
    left: 1.5em;
    font-size: 2em;
    font-weight: bold;
    color: #338;
}

#output
{
    font-style: italic;
    color: #C33;
}